<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1"
  >
    <div class="container">
     
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" >
            <a class="nav-link text-dark" routerLink="/home">Home</a> 
         </li>
         
          <li class="nav-item"  *ngIf="loggedIn()"> 
            <a class="nav-link text-dark" routerLink="/listOfAIOS">Trainees</a> 
          </li>
          <li class="nav-item"  *ngIf="loggedIn()"> 
            <a class="nav-link text-dark" routerLink="/listOfProcedures">Trainee Procedures</a> 
          </li>
         
          <li class="nav-item"  > 
            <a class="nav-link text-dark" routerLink="/about">About</a> 
          </li>
          <li class="nav-item" *ngIf="!loggedIn()"> 
            <a class="nav-link text-dark" routerLink="/login">Login</a> 
          </li>
          <li class="nav-item"  *ngIf="loggedIn()"> 
            <a class="nav-link text-dark" (click)="logOut()">Logout</a> 
          </li>



        </ul>



      </div>
    </div>
  </nav>
</header>
